html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    background-color: mediumaquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}

/* creo le classi per i font  */
.boldonse {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hero {
    background-color: cornsilk;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: mediumaquamarine;   
}

ul {
    list-style: none;
}

li {
   padding-top: 0.5%;
   padding-bottom: 0.5%;
}

#menu {
    /* all'inizio non si vede  */
    display: none;

}

.menu {
    cursor: pointer;
}


.menu-lista > ul > li {
    text-align: center;
}


footer {
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoScuola {
    height: 13vh;
    display: flex;
    align-items: center;
}

.imgLogo {
    height: 80%;
}

.info > a {
    text-decoration: none;
    background-color: cornsilk;
    color: mediumaquamarine;
    padding: 10px 8px;
    border-radius: 10px;
}

/* seleziono i tre div dentro al footer  */
footer > div {
    /* specifico la larghezza dei tre div nel footer e li metto in mezzo  */
    width: 33.33333%;
    display: flex;
    justify-content: center;
}

.inizio {
    height: 100vh;
    display: flex;
    /* se non ci stai, vai a capo  */
    flex-wrap: wrap;
    justify-content: center; /* centro i rettangoli nella pagina */
    align-items: center;
    
}

.contenitore1 {
    width: 40%;
    background-color: palegreen;
    height: 35%;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* animazione quando passo con il mouse sui contenitori  */
.contenitore1:hover {
    transition: 0.3s;
    background: url(./imma/playlist.png) center/cover no-repeat;
    color: transparent;
}

.contenitore2 {
    width: 40%;
    background-color: palegreen;
    height: 35%;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* animazione quando passo con il mouse sui contenitori  */
.contenitore2:hover {
    transition: 0.3s;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCTS7aB_IBnrnMGZINXibJuRFvc3iEE7q20w&s) center/cover no-repeat;
    color: transparent;
}

.contenitore3 {
    width: 40%;
    background-color: palegreen;
    height: 35%;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* animazione quando passo con il mouse sui contenitori  */
.contenitore3:hover {
    transition: 0.3s;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT73Yi0tEoS8aLvvb2mj8ctV4DT7824wa6nqQ&s) center/cover no-repeat;
    color: transparent;
}

.contenitore4 {
    width: 40%;
    background-color: palegreen;
    height: 35%;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* animazione quando passo con il mouse sui contenitori  */
.contenitore4:hover {
    transition: 0.3s;
    background: url(https://us.123rf.com/450wm/mitand73/mitand732201/mitand73220100078/181186025-vecchi-dispositivi-elettronici-su-sfondo-scuro-il-concetto-di-riciclaggio-e-smaltimento-dei-rifiuti.jpg?ver=6) center/cover no-repeat;
    color: transparent;
}

.cv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* personalizzo il riquadro del curriculum  */
.curriculum {
    width: 65%;
    padding: 20px;
    border: 1px solid black;
}

.intestazione {
    text-align: center;
}

.fascia-download {
    background-color: palegreen;
    width: 100%;
    height: 10vh;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottone {
    background-color: mediumaquamarine;
    color: palegreen;
    font-family: "boldonse";
    border-radius: 15px;
    padding: 10px 20px;

}

a {
    text-decoration: none;
}

.bottone:hover {
    background-color: palegreen;
    color: mediumaquamarine;
    border: 1px solid mediumaquamarine;
    font-family: "boldonse";
    padding: 10px 20px;
    border-radius: 15px;
}

.bonus {
  height: 50vh;
}


.testo {
    text-align: center;
    width: 60%;

}

.intro-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.relazione-terza {
    display: flex;
    background-color: rgba(113, 242, 242, 0.727);
    

}

.sx, .dx{
    width: 50%;
    padding: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    
}

.immagine {
    width: 80%;
    padding: 3%;
}

.relazione-secondo {
    display: flex;
    background-color: lightgreen;

}


.intro-stage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(213, 230, 230, 0.727);
}


 